<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>鞋服配饰</string>
		<key>icon</key>
		<string>typeicon01</string>
		<key>selectedIcon</key>
		<string>typeicon01_selected</string>
		<key>selected</key>
		<false/>
		<key>subClass</key>
		<array>
			<string>全部</string>
			<string>男鞋</string>
			<string>女鞋</string>
			<string>男士服装</string>
			<string>女士上装</string>
			<string>女士下装</string>
			<string>首饰</string>
			<string>帽子</string>
			<string>围巾</string>
			<string>眼镜</string>
			<string>手表</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>个人护理</string>
		<key>icon</key>
		<string>typeicon02</string>
		<key>selectedIcon</key>
		<string>typeicon02_selected</string>
		<key>selected</key>
		<false/>
		<key>subClass</key>
		<array>
			<string>全部</string>
			<string>美妆护肤</string>
			<string>洗护清洁</string>
			<string>香水</string>
			<string>手足护理</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>生活用品</string>
		<key>icon</key>
		<string>typeicon03</string>
		<key>selectedIcon</key>
		<string>typeicon03_selected</string>
		<key>selected</key>
		<false/>
		<key>subClass</key>
		<array>
			<string>全部</string>
			<string>床上用品</string>
			<string>家居电器</string>
			<string>医药用品</string>
			<string>居家日用</string>
			<string>整理收纳</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>运动户外</string>
		<key>icon</key>
		<string>typeicon04</string>
		<key>selectedIcon</key>
		<string>typeicon04_selected</string>
		<key>selected</key>
		<false/>
		<key>subClass</key>
		<array>
			<string>全部</string>
			<string>球拍</string>
			<string>球类</string>
			<string>健身器材</string>
			<string>户外运动用品</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>旅行箱包</string>
		<key>icon</key>
		<string>typeicon05</string>
		<key>selectedIcon</key>
		<string>typeicon05_selected</string>
		<key>selected</key>
		<false/>
		<key>subClass</key>
		<array>
			<string>全部</string>
			<string>双肩包</string>
			<string>单肩包</string>
			<string>钱包</string>
			<string>行李箱</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>数码外设</string>
		<key>icon</key>
		<string>typeicon06</string>
		<key>selectedIcon</key>
		<string>typeicon06_selected</string>
		<key>selected</key>
		<false/>
		<key>subClass</key>
		<array>
			<string>全部</string>
			<string>手机</string>
			<string>手机壳</string>
			<string>电脑外设</string>
			<string>影音电器</string>
			<string>相机</string>
			<string>其他</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>图书音像</string>
		<key>icon</key>
		<string>typeicon07</string>
		<key>selectedIcon</key>
		<string>typeicon07_selected</string>
		<key>selected</key>
		<false/>
		<key>subClass</key>
		<array>
			<string>全部</string>
			<string>英语等级</string>
			<string>考研公务员</string>
			<string>文学图书</string>
			<string>动漫图书</string>
			<string>外语学习</string>
			<string>音像资料</string>
			<string>专业教材</string>
			<string>报刊杂志</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>卡券转让</string>
		<key>icon</key>
		<string>typeicon08</string>
		<key>selectedIcon</key>
		<string>typeicon08_selected</string>
		<key>selected</key>
		<false/>
		<key>subClass</key>
		<array>
			<string>全部</string>
			<string>水卡</string>
			<string>优惠券／代金券</string>
			<string>门票转让</string>
			<string>会员卡转让</string>
			<string>宽带转让</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>食品专区</string>
		<key>icon</key>
		<string>typeicon09</string>
		<key>selectedIcon</key>
		<string>typeicon09_selected</string>
		<key>selected</key>
		<false/>
		<key>subClass</key>
		<array>
			<string>休闲零食</string>
		</array>
	</dict>
</array>
</plist>
